/* App.css */

/* Style the arrows normally */
.slick-prev, .slick-next {
  background-color: #555 !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.slick-prev::before, .slick-next::before {
  color: white !important;
  font-size: 20px;
}

/* 🔻 Hide arrows on small screens */
@media (max-width: 576px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}


body {
  font-family: 'Inter', sans-serif;
}

/* For headings */
h1, h2 {
  font-family: 'Poppins', sans-serif;
}